<!DOCTYPE html>
<html ng-app="storeapp">
    <head>
        <title>ngStore</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>

        <script type="text/javascript" src="/javascripts/jquery-1.11.1.js"></script>      
        <script type="text/javascript" src="/javascripts/angular.js"></script>   
        <script type="text/javascript" src="/javascripts/angular-route.js"></script>
        <script type="text/javascript" src="/javascripts/angular-resource.js"></script>
    </head>
    
    <body>
        <header>
            <span id="logo">
                <a href="#/">ngStore</a>
            </span>
            
            <ul id="menu">
                <li class="active"> 
                    <a href="#/"><i class="fa fa-home fa-fw"></i> Home</a>
                </li>
                <li> 
                    <a href="#/clientes"><i class="fa fa-group fa-fw"></i> Clientes</a>
                </li>
                <li>
                    <a href="#/produtos"><i class="fa fa-inbox fa-fw"></i> Produtos</a>
                </li>
                <li>
                    <a href="#/vendas"><i class="fa fa-suitcase fa-fw"></i> Vendas</a>
                </li>
            </ul>
        </header>
        
        <div ng-view>
        </div>
    </body>
    
    
    <script type="application/javascript" src="/app/app.js"></script>
    <script type="application/javascript" src="/app/controllers/HomeController.js"></script>
    <script type="application/javascript" src="/app/controllers/ClienteEditController.js"></script>
    <script type="application/javascript" src="/app/controllers/ClienteListController.js"></script>
</html>
