<div class="page-header">
    <h1>Cadastrar Novo Cliente</h1>
</div>

<form>
    <div class="form-instructions">
        Os campos marcados com <span class="fa fa-hand-o-right red"></span> são obrigatórios.
    </div>
    
    <div class="field-group">
        <label><span class="fa fa-hand-o-right red" style="font-size: 9pt;"></span> nome:</label>
        <input type="text" name="nome" class="xxlarge" ng-model="cliente.nome"/>
    </div>

    <div class="field-group">
        <label>cpf:</label>
        <input type="text" name="cpf" class="medium" ng-model="cliente.cpf"/>
    </div>
        
    <div class="field-group">
        <label>rua:</label>
        <input type="text" name="rua" class="xxlarge" ng-model="cliente.rua"/>
    </div>
    <div class="field-group">
        <label>bairro:</label>
        <input type="text" name="bairro" class="xlarge" ng-model="cliente.bairro"/>
    </div>
    <div class="field-group">
        <label>cidade:</label>
        <input type="text" name="cidade" class="medium" ng-model="cliente.cidade"/>
    </div>
    <div class="field-group">
        <label>estado:</label>
        <input type="text" name="estado" class="xsmall" maxlength="2" ng-model="cliente.estado"/>
    </div>
    <div class="field-group">
        <label>cep:</label>
        <input type="text" name="cep" class="medium" ng-model="cliente.cep"/>
    </div>
    
    <div class="form-actions">
        <button class="btn success" ng-click="salvar()">Salvar</button>
    </div>
</form>


