<div class="page-header">
    <h1>Cadastrar Novo Cliente</h1>
    
    <div class="page-actions">
        <button class="btn success" ng-click="salvar()" ng-disabled="!FormService.formularioValido(clienteForm)"><span class="fa fa-floppy-o fa-fw"></span> Salvar</button>
        <button class="btn default" ng-click="cancelar()">Cancelar</button>
    </div>
</div>

<form name="clienteForm" novalidate>
    <div class="form-instructions">
        Os campos marcados com <span class="fa fa-hand-o-right red"></span> são obrigatórios.
    </div>
    
    <div class="field-group">
        <label><span class="fa fa-hand-o-right red" style="font-size: 9pt;"></span> nome:</label>
        <input type="text" name="nome" required class="xxlarge" ng-model="cliente.nome" ng-class="FormService.getCssClass(clienteForm.nome)"/>
    </div>

    <div class="field-group ">
        <label><span class="fa fa-hand-o-right red" style="font-size: 9pt;"></span> cpf:</label>
        <input type="text" name="cpf" required class="medium" ng-model="cliente.cpf" ng-class="FormService.getCssClass(clienteForm.cpf)"/>
    </div>
        
    <div class="field-group">
        <label>rua:</label>
        <input type="text" name="rua" class="xxlarge" ng-model="cliente.logradouro"/>
    </div>        
    <div class="field-group">
        <label>número:</label>
        <input type="text" name="numero" class="xsmall" ng-model="cliente.numero"/>
    </div>
    <div class="field-group">
        <label>bairro:</label>
        <input type="text" name="bairro" class="xlarge" ng-model="cliente.bairro"/>
    </div>
    <div class="field-group">
        <label>cidade:</label>
        <input type="text" name="cidade" class="medium" ng-model="cliente.cidade"/>
    </div>
    <div class="field-group">
        <label>estado:</label>
        <input type="text" name="estado" class="xsmall" maxlength="2" ng-model="cliente.estado"/>
    </div>
    <div class="field-group">
        <label>cep:</label>
        <input type="text" name="cep" class="medium" ng-model="cliente.cep"/>
    </div>
    <div class="field-group">
        <label>telefone:</label>
        <input type="text" name="telefone" class="medium" ng-model="cliente.telefone"/>
    </div>
    
    <div class="form-actions">
        <button class="btn success" ng-click="salvar()" ng-disabled="!FormService.formularioValido(clienteForm)"><span class="fa fa-floppy-o fa-fw"></span> Salvar</button>
        <button class="btn default" ng-click="cancelar()">Cancelar</button>
    </div>
</form>


