<div id="dashboard">
    
    <div class="dashboard-item">
        <div class="icon-holder">
            <div class="icon">
                <i class="fa fa-group"></i>
            </div>
        </div>
        <div class="content">
            <div class="value">
                {{clientesCount}}
            </div>
            <div class="description">
                Clientes Cadastrados
            </div>
        </div>
    </div>
    
    <div class="dashboard-item">
        <div class="icon-holder">
            <div class="icon">
                <i class="fa fa-inbox"></i>
            </div>
        </div>
        <div class="content">
            <div class="value">
                {{produtosCount}}
            </div>
            <div class="description">
                Produtos no Catálogo
            </div>
        </div>
    </div>
    
    <div class="dashboard-item">
        <div class="icon-holder">
            <div class="icon">
                <i class="fa fa-suitcase"></i>
            </div>
        </div>
        <div class="content">
            <div class="value">
                {{vendasCount}}
            </div>
            <div class="description">
                Vendas Concluídas
            </div>
        </div>
    </div>
    
</div>