<div id="dashboard">    
    <div class="dashboard-item">
        <div class="icon-holder">
            <div class="icon green-background">
                <i class="fa fa-group"></i>
            </div>
        </div>
        <div class="content">
            <div class="value">
                {{clientesCount}}
            </div>
            <div class="description">
                Clientes Cadastrados
            </div>
        </div>
    </div>
    
    <div class="dashboard-item">
        <div class="icon-holder">
            <div class="icon light-green-background">
                <i class="fa fa-inbox"></i>
            </div>
        </div>
        <div class="content">
            <div class="value">
                {{produtosCount}}
            </div>
            <div class="description">
                Produtos no Catálogo
            </div>
        </div>
    </div>
    
    <div class="dashboard-item">
        <div class="icon-holder">
            <div class="icon orange-background">
                <i class="fa fa-suitcase"></i>
            </div>
        </div>
        <div class="content">
            <div class="value">
                {{vendasCount}}
            </div>
            <div class="description">
                Vendas Concluídas
            </div>
        </div>
    </div>    
</div>


<div class="cover">
    <h1>Welcome!</h1>
    
    <h2>
        Feel free to navigate around.
    </h2>
</div>